{% extends 'base.html' %}

{% block body %}
    <div class="d-flex gap-3 align-center mb-3">
        <h3>Twoje przepisy</h3>
        <a href="/add-recipe" class="btn btn-primary">Dodaj przepis</a>
    </div>
    <div class="container">
        <div class="row gap-3">
            {% for item in data %}
                <div class="card col-6" style="width: 18rem;">
                    <img src="../{{ item.image_uri }}" class="card-img-top" style="width: auto; height: 200px; object-fit: cover;" alt="img">
                    <div class="card-body">
                        <h5 class="card-title">{{ item.name }}</h5>
                        <a href="/recipe/{{ item.id }}" class="card-text stretched-link text-decoration-none text-dark">{{ item.description }}</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}